<!-- angular controller -->
<section ng-controller="MainCtrl as settings">
  <div class="className" align=center>
    <!-- homepage buttons -->
    <a href="#/portfolio" class="btn btn-outlined btn-white btn-lg fade-in-left-btn" data-wow-delay="0.7s">Portfolio</a>
    <a class="btn btn-outlined btn-white btn-lg fade-in-middle-btn" data-wow-delay="0.7s" ng-click="download()">Resume</a>
    <a href="#/about" class="btn btn-outlined btn-white btn-lg fade-in-right-btn" data-wow-delay="0.7s">About Me</a>
  </div>
</section>
